<div ng-controller="GenreController" class="col-md-offest-3 col-md-6">
    <h1>@ViewBag.Title</h1>
    <ul class="list-group">
        <li ng-repeat="genre in genres" class="list-group-item">
            <a href="/Home/Browse/{{genre.GenreId}}">{{genre.Name}}</a>
            <span class="badge">{{genre.Albums.Count}}</span>
        </li>
    </ul>
</div>
